<div class="navbar navbar-inverse navbar-large">
	<div class="navbar-inner">
		<ul>
			<button class="btn btn-inverse btn-large"><%= link_to 'Planets', solar_systems_path %></button>
			<button class="btn btn-inverse btn-large"><%= link_to 'Identify a new Planet!', new_solar_system_path %></button>
			<button class="btn btn-inverse btn-large"><%= link_to 'Moons', moons_path %></button>
			<button class="btn btn-inverse btn-large"><%= link_to 'Identify a New Moon!', new_moon_path %></button>
			<button class="btn btn-inverse btn-large"><%= link_to 'Astronauts', astronauts_path %></button>
			<button class="btn btn-inverse btn-large"><%= link_to 'Neophyte Astronaut!', new_astronaut_path %></button>
		</ul>
	</div>
</div>